<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>877466208945-qipb1cporof7jtoke1md4lcs67o848eq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.877466208945-qipb1cporof7jtoke1md4lcs67o848eq</string>
	<key>API_KEY</key>
	<string>AIzaSyA3gLjvpxOiyCJhMt3ohsbeRwiYUw547cw</string>
	<key>GCM_SENDER_ID</key>
	<string>877466208945</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication1.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>practice-log-app</string>
	<key>STORAGE_BUCKET</key>
	<string>practice-log-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:877466208945:ios:33c80622d20f49c4233090</string>
</dict>
</plist>